* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Mermaid;
  src: url(fonts/Mermaid.ttf);
  font-display: swap;
}

@font-face {
  font-family: Roboto Mono;
  src: url(fonts/RobotoMono.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Nimbus Sans L";
  src: url(fonts/NSL-regular.ttf);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nimbus Sans L";
  src: url(fonts/NSL-bold.ttf);
  font-weight: bold;
  font-display: swap;
}

h2 {
  font-size: 64px;
  margin: 72px 0 24px;
  letter-spacing: -3px;
  border-bottom: 4px solid #0c151a;
  padding-bottom: 24px;
}

h3 {
  font-size: 24px;
  margin: 0 0 24px;
  letter-spacing: -1px;
  border-bottom: 2px solid #0c151a;
  padding-bottom: 24px;
}

p {
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  margin-bottom: 1.5rem;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  font-family: "Nimbus Sans L";
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1500px;
}

.trading-card {
  color: #111;

  width: 360px;
  height: 500px;

  border-radius: 10px;
  position: relative;

  transition-duration: 300ms;
  transition-property: transform;
  transition-timing-function: ease-out;

  background: #e5d75f;
  padding: 12px;
}

.trading-card-content {
  background-image: url(./images/blue.png);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.trading-card-header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding-bottom: 12px;
  font-weight: bold;
}

.hp {
  font-size: 12px;
}

.js {
  display: inline;
  height: 20px;
  width: 20px;
}

.trading-card-image {
  width: 100%;
  background: #e5d75f;
  aspect-ratio: 2/1.15;
  padding: 4px;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 50%)
}

.trading-card-image-inner {
  width: 100%;
  height: 100%;
  background-image: url(./images/poke.jpg);
  background-size: cover;
  background-position: bottom;
}

.subtitle-container {
  display: flex;
  justify-content: center;
}

.subtitle {
  background: #e5d75f;
  padding: 2px 8px;
  margin-top: 6px;
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
  display: flex;
  border-radius: 2px;
}

.trading-card-skills {
  display: flex;
  margin-top: 12px;
  flex-direction: column;
}

.trading-card-skills .skill {
  margin-bottom: 12px;
}

.trading-card-skills .skill .skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4px;
}

.skill-icons {
  min-width: 48px;
  display: flex; 
  gap: 4px;
}

.skill-icon {
  width: 20px;
  height: 20px;
}

.skill-name {
  font-weight: bold;
}

.skill-score {
  font-weight: bold;
  min-width: 48px;
  text-align: right;
}

.skill-description {
  font-size: 12px;
}

.trading-card:hover {
  transition-duration: 150ms;
}

.trading-card .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.content {
  min-height: 100vh;
  padding: 24px 24px 72px;
  margin: 0 auto;
  max-width: 720px;
  box-sizing: content-box;
}

.skill-set {
  display: flex;
  gap: 8px;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.skill-set-item {
  background: #eee;
  padding: 6px 16px;
  border-radius: 3px;
  font-size: 15px;
  letter-spacing: 0.4px;
}

.bottom-text {
  border: 2px solid #e5d75f;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
}

.trading-card-footer {
  display: flex;
  font-size: 8px;
  justify-content: space-between;
}

.illustration {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  margin-bottom: 6px;
}

form input,
form textarea {
  all: unset;
  border: 1px solid grey;
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
  border-radius: 3px;
  box-sizing: border-box;
}

form input:focus,
form textarea:focus {
  border-color: #7c4dff;
  box-shadow: 0 0 0 1px #7c4dff;
}

form textarea {
  resize: none;
  height: 160px;
}

button,
form input[type="submit"] {
  background: #2962ff;
  border: none;
  color: white;
  cursor: pointer;
  width: auto;
  padding: 12px 48px;
  border-radius: 3px;
}

button:hover,
input[type="submit"]:hover {
  background: #2979ff;
}

button:focus,
input[type="submit"]:focus {
  background: #7c4dff;
}

button:disabled,
input[type="submit"]:disabled {
  background: #eee;
  color: gray;
  cursor: not-allowed;
}

.thank-you {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}

video {
  clip-path: inset(1px 1px);
  width: 100%;
  height: 100%;
}

.pet-projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  max-width: 100%;
  overflow: hidden;
}

.pet-projects-container > * {
  position: relative;
  aspect-ratio: 1/1;
}
